<table id="effortsTable" class="items u-full-width">
	<thead>
		<tr>
			<th onclick="sortTable('effortsTable',0,'true');">#<i class="fas fa-filter"></i></th>
			<th onclick="sortTable('effortsTable',1,'true');">Item</th>
			<th onclick="sortTable('effortsTable',2,'true');">Date</th>
			<th onclick="sortTable('effortsTable',3,'true');">Effort</th>
		</tr>
	</thead>
	<tbody>
 		<% for(var i = 0; i < efforts.length; i++) { %>
			<tr>
  				<td 
  					onclick="window.location='/efforts/<%= efforts[i]._id %>'"
  					style="width:1%">
  					<%= i %>
				</td>
  				<td 
  					onclick="window.location='/items/<%= efforts[i].item %>'"
  				 	style="width:40%">
  					<%= efforts[i].item %>
				</td>
  				<td 
  					onclick="window.location='/efforts/<%= efforts[i]._id %>'"
  					style="width:1%">
  					<%= new Date(efforts[i].timestamp).toLocaleDateString() %>
  				</td>
  				<td 
  					onclick="window.location='/efforts/<%= efforts[i]._id %>'"
				 	style="width:30%">
  					<span class="hours">
  						<%= efforts[i].hours %>
					</span> hour 
					<span class="minutes">
						<%= efforts[i].minutes %>
					</span> mins
  				</td>
			</tr>
		<% } %>
	</tbody>
</table>