<% include ./partials/header %>
<%= efforts[0].item.label%>
<div class="container">
  <div class="row">
  	<div class="twelve column" style="margin-top: 5%">
    <h1>Calendar: <%= date.day + "-"+date.month+"-"+date.year%></h1>		
  </div>
  <hr>
  <div class="row">
    <div class="data">
      <% include ./partials/effortstable %>
    </div> 
  </div>
  <div class="row">
    <!-- 
    <form id="goToTomorrow" action="/calendar/<%= date.year + "/" + date.month + "/" + (parseInt(date.day) + 1)%>">
    -->
    <form id="goToYesterday" action="/calendar/">

      <input style="float:left;" type="submit" value="Previous" />
    </form>
    <form id="goToTomorrow" action="/calendar/">
    <!--<form id="goToTomorrow" action="/calendar/<%= date.year + "/" + date.month + "/" + (parseInt(date.day) + 1)%>">-->
      <input style="float:right;" type="submit" value="Next" />
    </form>
  	</div>
  </div>
</div>

<script>
  //var date = new Date("<%= date.month + "-"+date.day+"-"+date.year%>");
  var date = new Date();
  date.setDate(<%=date.day%>);
  date.setMonth(<%=date.month%>);
  date.setFullYear(<%=date.year%>);
  var yesterday = new Date();
  yesterday.setDate(<%=date.day%>);
  yesterday.setMonth(<%=date.month -1%>);
  yesterday.setFullYear(<%=date.year%>);
  yesterday.setDate(date.getDate() - 1);
  var tomorrow = new Date();
  tomorrow.setDate(<%=date.day%>);
  tomorrow.setMonth(<%=date.month-1%>);
  tomorrow.setFullYear(<%=date.year%>);
  tomorrow.setDate(date.getDate() + 1);

  document.getElementById("goToYesterday").action = "/calendar/"+yesterday.getFullYear()+"/"+(parseInt(yesterday.getMonth())+1)+"/"+yesterday.getDate()+"/";

  document.getElementById("goToTomorrow").action = "/calendar/"+tomorrow.getFullYear()+"/"+(parseInt(tomorrow.getMonth())+1)+"/"+tomorrow.getDate()+"/";
</script>

<% include ./partials/footer %>