<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
			<h5><%= category.text %></h5> 
			</div>

			<h1><%= category %></h1>
			<form action="/relevances/?_method=PUT" method="post" id="relevance_form">
				<div class="data">
					<table id="itemsTable" class="items u-full-width">
						<thead>
							<tr>
								<th onclick="sortTable('itemsTable',0,'true');">#<i class="fas fa-filter"></i></th>
								<th onclick="sortTable('itemsTable',1,'true');">Label</th>
								<th onclick="sortTable('itemsTable',2,'true');">Relevance</th>
							</tr>
						</thead>
						<tbody>
					 		<% for(var i = 0; i < items.length; i++) { %>
					  			<tr>
					  				<td><%= i %></td>
									<td onclick="window.location='/items/<%= items[i].label %>'">
										<%= items[i].label %>
									</td>
									<td><input 
				  						type="range" 
				  						min="1" 
				  						max="100" 
				  						value="50" 
				  						class="slider" 
				  						id="<%= items[i].label %>_relevance" 
										name="<%= items[i].label %>_relevance" 

										onmouseup="updateRelevance('<%= items[i].label %>'); document.getElementById('relevance_form').submit();"
										ontouchend="updateRelevance('<%= items[i].label %>');document.getElementById('relevance_form').submit();">
			  						</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>

<% include ./partials/footer %>