<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
			<h5><%= category.text %></h5> 
			</div>

<% include ./partials/newitemform %>
			<h1><%= category %></h1>
			
			

				<div class="data">
					<table id="itemsTable" class="items u-full-width">
						<thead>
							<tr>
								<th onclick="sortTable('itemsTable',0,'true');">#<i class="fas fa-filter"></i></th>
								<th onclick="sortTable('itemsTable',1,'true');">Label</th>
								<th onclick="sortTable('itemsTable',2,'true');">Relevance</th>
							</tr>
						</thead>
						<tbody>
					 		<% for(var i = 0; i < items.length; i++) { %>
					  			<tr>
					  				<td><%= i %></td>
									<td onclick="window.location='/items/<%= items[i].label %>'">
										<%= items[i].label %>
									</td>
									<td>
										<% include ./partials/relevancyslider %>
										
			  						</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			
		</div>
	</div>
</div>

<% include ./partials/footer %>