<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
			<% include ./partials/newcategoryform %>
			</div>

			<h1>Categories</h1>
			<div class="data">
				<table id="categoriesTable" class="categories u-full-width">
					<thead>
						<tr>
							<th onclick="sortTable('categoriesTable',0,'true');">#<i class="fas fa-filter"></i></th>
							<th onclick="sortTable('categoriesTable',1,'true');">Label</th>
							<th onclick="sortTable('categoriesTable',2,'true');">RelevancY</th>
						</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < categories.length; i++) { %>
					 		
					  			<tr>
					  				<td><%= i %></td>
				  					<td onclick="window.location='/categories/<%= categories[i].label %>'">
				  					<%= categories[i].label %></td>
				  					<td>
				  						<form action="/api/relevancies/?_method=PUT" method="post" id="<%= categories[i].label %>_relevancy_form">
				  							<input type="hidden" name="relevancy_label" value="<%= categories[i].label %>">
				 							<input type="hidden" name="relevancy_user" value="<%= currentUser.username %>">
				  							<input 
				  							type="range" 
				  							min="1" 
				  							max="100" 
				  							value="50" 
				  							class="slider" 
				  							id="<%= categories[i].label %>_relevancy" 
											name="relevancy_value" 

											onmouseup="document.getElementById('<%= categories[i].label %>_relevancy_form').submit();"
											ontouchend="document.getElementById('<%= categories[i].label %>_relevancy_form').submit();">
										</form>
			  						</td>
								</tr>
							<% } %>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>