<% include ./partials/header %>






<div class="container">
	<div class="row">
		<div class="u-full-width centered">
			Timestamp: <%= effort.timestamp %>
			<br>
			Hours: <%= effort.hours %>
			<br>
			Minutes: <%= effort.minutes %>
			<br>
			Note: <%= effort.note %>
		</div>
	</div>

	<hr>

	<div class="row centered">
		
		<button onclick="window.location='/efforts/<%= effort._id %>/edit'">Edit</button>
		
	</div>
</div>

<% include ./partials/footer %>