<% include ./partials/header %>

<div class="container">
  <div class="row">
  	<div class="twelve column" style="margin-top: 5%">
			<h1>Help Yourself</h1>
    </div>
    <div class="row">
      <div class="data">
        <table id="itemsTable" class="u-full-width">
          <thead>
            <tr>
              <th onclick="sortTable('itemsTable',0,'true');">#<i class="fas fa-filter"></i></th>
              <th onclick="sortTable('itemsTable',1,'false');">Label</th>
              <th onclick="sortTable('itemsTable',2,'false');">Effort</th>
              <th onclick="sortTable('itemsTable',3,'true');">Priority</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < items.length; i++) { %>
              <tr onclick="window.location='/items/<%= items[i].label %>'">
                <td><%= i %></td>
                <td><%= items[i].label %></td>
                <td><%= items[i].totalEffort %></td>
                <td><%= items[i].priority %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div> 
  	</div>
  </div>
</div>


<% include ./partials/footer %>