<% include ./partials/header %>
<%=//  data %>




<div class="container">
  <div class="row">
  	<div class="twelve column" style="margin-top: 5%">
			<h1>Help Yourself</h1>
    </div>
    <div class="row">
      <div class="data">
        <table id="itemsTable" class="u-full-width">
          <thead>
            <tr>
              <th onclick="sortTable('itemsTable',0,'false');">Label</th>
              <th onclick="sortTable('itemsTable',1,'false');">Effort</th>
              <th onclick="sortTable('itemsTable',2,'true');">Priority</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
              <% 
              let hours = Math.floor(data[i].totalMinutes  / 60);
              let minutes = data[i].totalMinutes  % 60;
              let message = hours + " h " + minutes; 
              %>

              <tr onclick="window.location='/items/<%= data[i].label %>'">
                <td style="width:50%"><%= data[i].label %></td>
                <td style="width:23%"><%= message %></td>
                <td style="width:23%"><%= Math.floor(data[i].priority) %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div> 
  	</div>
  </div>
</div>

<script>
  sortTable('itemsTable',2,'true','desc');
</script>

<% include ./partials/footer %>