<% include ./partials/header %>
<%=//  data %>




<div class="container">
  <div class="row">
  	<div class="twelve column" style="margin-top: 5%">
			<h1>Help Yourself</h1>
      <form action="/api/priorities/refresh/">
        <input type="submit" value="Refresh Priorities" />
      </form>
      <form action="/api/efforts/refresh/">
        <input type="submit" value="Refresh Efforts" />
      </form>
      <form action="/api/refresh/">
        <input type="submit" value="Refresh" />
      </form>
    </div>
    <div class="row">
      <div class="data">
        <table id="itemsTable" class="u-full-width">
          <thead>
            <tr>
              <th onclick="sortTable('itemsTable',0,'false');">Label</th>
              <th onclick="sortTable('itemsTable',1,'false');">Effort</th>
              <th onclick="sortTable('itemsTable',2,'true');">Priority</th>

              <th onclick="sortTable('itemsTable',3,'true');">Cumulative</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
              <% 
              let hours = Math.floor(data[i].totalMinutes  / 60);
              let minutes = data[i].totalMinutes  % 60;
              let message = hours + " h " + minutes; 
              %>
              <% 
              let cumulativehours = Math.floor(data[i].cumulativeMinutes  / 60);
              let cumulativeminutes = data[i].cumulativeMinutes  % 60;
              let cumulativeMessage = cumulativehours + " h " + cumulativeminutes; 
              %>

              <tr onclick="window.location='/items/<%= data[i].label %>'">
                <td style="width:50%"><%= data[i].label %></td>
                <td style="width:23%" data-totalMinutes="<%= data[i].totalMinutes%>"><%= message %></td>
                <td style="width:23%"><%= Math.floor(data[i].priority) %></td>
                <% if (typeof data[i].cumulativeMinutes !== "undefined") { %>
                  <td style="width:23%" data-totalMinutes="<%= data[i].cumulativeMinutes%>"><%= cumulativeMessage %></td>
                <% } %>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div> 
  	</div>
  </div>
</div>

<script>
  sortTable('itemsTable',2,'true','desc');
</script>

<% include ./partials/footer %>