<% include ./partials/header %>
<%= //data[0].totalRelevancy	 %>
<div class="container centered">
	<div class="row">
		<div class="u-full-width">
		<% include ./partials/newitemform2 %>
		</div>
	</div>

	<hr>

	<div class="row">
		<h1>Items</h1>
		
		<div class="data">
			<table id="itemsTable">
				<thead>
					<tr>
						<th onclick="sortTable('itemsTable',0,'true');">Label</th>
						<th onclick="sortTable('itemsTable',1,'true');">Parent</th>
						<th onclick="sortTable('itemsTable',2,'true');">Relevance</th>
					</tr>
				</thead>
				<tbody>
			 		<% for(var i = 0; i < data.length; i++) { %>
				 		
			  			<tr>
			  				<td 
			  					style="width:50%"
			  					onclick="window.location='/items/<%= data[i].label %>'">
			  					<%= data[i].label %>
		  					</td>
							<td 
								style="width:25%"" 
								onclick="window.location='/items/<%= data[i].parent.label %>'">
								<%= data[i].parent.label %>
							</td>
							<td style="width:25%"">
								<% relevancy = data[i].relevancy %>
								<% include ./partials/relevancyslider %>
							</td>
						</tr>
						
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% include ./partials/footer %>