<% include ./partials/header %>
<div class="container">

	<hr>
	<p>Total effort so far in <%= item.label %>: <b><span id="totalEffort"></span></b></p>
	<hr>
	
    <form action="/api/effort" method="post">
	<h5>Exert effort</h5>
	<div class="row">
    	<div class="six columns">
     		<label for="effort_hours">Hours</label>
    		<input type="number" name="effort_hours" placeholder="0" value="0" id="hoursInput">
		</div>

		<div class="six columns">
      		<label for="effort_minutes">Minutes</label>
        	<input type="number" name="effort_minutes" placeholder="0" value="0" id="minutesInput">
      	</div>

      	<div class="row">
      		<div class="u-full-width">
        		<input type="submit">
        	</div>	
    	</div>

      	<!-- Hidden form inputs: item, user, time-->
      	<input type="hidden" name="effort_item" placeholder="enter an item" value="<%= item.label %>">

    	<input type="hidden" name="effort_user" placeholder="Your name please" value="<%= currentUser.username %>">
      
  		<input class="one column" id="effort_timestamp" type="hidden" name="effort_timestamp" placeholder="yyyy-mm-ddThh:mm:ss.mmmZ" value="<%= Date.now() %>">

    	</form>
	</div>

	<hr>

	<% include ./partials/effortstable %>

	<script>
		var totalMinutes = getTotalMinutes();
		var hours = Math.floor(totalMinutes / 60);
		var minutes = totalMinutes % 60;
		document.getElementById("totalEffort").innerText = hours + " hours " + minutes + " mins"
	</script>

	<hr>
	<div class="row">
		<div class="u-full-width">
			<form  action="/items/<%= item.label %>/?_method=PUT" method="post">
				<div class="row">
	    			<div class="six columns">
						<label for="labelInput">Item</label>
						<input class="u-full-width" type="text" name="item_label" placeholder="enter an item" value="<%= item.label %>" id="labelInput" readonly="readonly"><br>
					</div>
	    			<div class="six columns">
    					<label for="categorySelect">Select Category</label>
						<select class="u-full-width" name="item_category" id="categorySelect" value="<%= item.category %>">
						<% for(var i = 0; i < categories.length; i++) { %>
	  						<option value="<%= categories[i].label %>"><%= categories[i].label %></option>
    					<% } %>
 					</div>   
				</div>
				<input type="hidden" name="item_user" placeholder="Your name please" value="<%= currentUser.username %>">
				<input type="submit">
			</form>

			<form action="/api/items/<%= item.label %>/?_method=DELETE" method="post">
				<input id="revealDeleteButtonButton" type="button" 
					onclick="
						document.getElementById('deleteItemSubmit').classList.remove('hidden');
						document.getElementById('revealDeleteButtonButton').classList.add('hidden');
						" value="Delete">	
				<input class="hidden" id="deleteItemSubmit" type="submit" value="confirm">
			</form>
		</div>
	</div>
	
			

</div>



<% include ./partials/footer %>