<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
			<% include ./partials/newitemform %>
			</div>

			<h1>Items</h1>
			<div class="data">
				<table id="itemsTable" class="items u-full-width">
					<thead>
						<tr>
							<th onclick="sortTable('itemsTable',0,'true');">#<i class="fas fa-filter"></i></th>
							<th onclick="sortTable('itemsTable',1,'true');">Label</th>
							<th onclick="sortTable('itemsTable',2,'true');">Category</th>
						</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < items.length; i++) { %>
				  			<tr>
				  				<td><%= i %></td>
				  				<td><a href="/items/<%= items[i].label %>"><%= items[i].label %></a></td>
								<td><a href="/categories/<%= items[i].category %>"><%= items[i].category %></a></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>

<% include ./partials/footer %>