<% include ./partials/header %>
<div class="container">
	<%=// data %>
	
	<!--<p>Total effort so far in <%= data.label %>: <b><span id="totalEffort"></span></b></p>-->

	<button onclick="window.location='/items/<%= data.label %>/'">Item</button>
	<button onclick="window.location='/items/<%= data.label %>/children'">Children</button>
	
	
	<% if(data.parent && typeof data.parent.label === 'string') { %>
	<button onclick="window.location='/items/<%= data.parent.label %>'"><%= data.parent.label %></button>
	<% } else { %>
	<button onclick="window.location='/items/'">Home</button>
	<% } %>

	

	<h5><%= data.label %></h5>

	<hr>
	<% efforts = data.efforts %>
	<% include ./partials/effortstable %>


</div>



<% include ./partials/footer %>