<% include ./partials/header %>
<div class="container">

	<hr>
	<p>Total effort so far in <%= item.label %>: <b><span id="totalEffort"></span></b></p>
	<hr>
	
    <form action="/api/effort" method="post">
	<h5>Exert effort</h5>
	<div class="row">
    	<div class="six columns">
     		<label for="effort_hours">Hours</label>
    		<input type="number" name="effort_hours" placeholder="0" value="" id="hoursInput">
		</div>

		<div class="six columns">
      		<label for="effort_minutes">Minutes</label>
        	<input type="number" name="effort_minutes" placeholder="0" value="" id="minutesInput">
      	</div>

		<div class="six columns">
			<label for="effort_timestamp">Timestamp</label>
      		<input class="one column"  id="effort_timestamp" type="text" name="effort_timestamp" placeholder="yyyy-mm-ddThh:mm:ss.mmmZ" value="<%= new Date() %>">
		</div>

      	<div class="row">
      		<div class="u-full-width">
        		<input type="submit">
        	</div>	
    	</div>

      	<!-- Hidden form inputs: item, user, time-->
      	<input type="hidden" name="effort_item" placeholder="enter an item" value="<%= item.label %>">

    	<input type="hidden" name="effort_user" placeholder="Your name please" value="<%= currentUser.username %>">
      
  		

    	</form>
	</div>

	<hr>

	<% include ./partials/effortstable %>

	<script>
		var totalMinutes = getTotalMinutes();
		var hours = Math.floor(totalMinutes / 60);
		var minutes = totalMinutes % 60;
		document.getElementById("totalEffort").innerText = hours + " hours " + minutes + " mins"
	</script>

	<hr>
	<div class="row">
		<div class="u-full-width">
			<form action="/api/items/<%= item._id %>/?_method=PUT" method="post">
				<div class="row">
					<div class="six columns">
						<label for="item_id">_id</label>
						<input 
							class="u-full-width" 
							type="text" 
							name="item_id"  
							value="<%= item._id %>" 
							readonly="readonly">
					</div>

					<div class="six columns">
						<label for="item_user">User</label>
						<input 
							type="text" 
							name="item_user" 
							value="<%= currentUser.username %>"
							readonly="readonly">
					</div>

	    			<div class="six columns">
						<label for="item_label">Item</label>
						<input 
							class="u-full-width" 
							type="text" 
							name="item_label" 
							value="<%= item.label %>" 
							readonly="readonly">
					</div>



	    			<div class="six columns">
    					<label for="item_category">Select Category</label>
						<select 
							class="u-full-width" 
							name="item_category" 
							id="item_category" 
							value="<%= item.category %>">
						<% for(var i = 0; i < categories.length; i++) { %>
	  						<option 
	  							value="<%= categories[i].label %>">
								<%= categories[i].label %>
  							</option>
    					<% } %>
    					</select>
 					</div>   

 					<div class="six columns">
						<label for="item_priority">Priority</label>
						<input 
							class="u-full-width" 
							type="number" 
							name="item_priority" 
							value="<%= item.priority %>" 
							readonly="readonly">
					</div>

				</div>
				
				<input type="submit">
			</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<form action="/api/items/<%= item.label %>/?_method=DELETE" method="post">
			<div id="revealDeleteButton">
				<label for="revealDeleteButton">Delete this item?</label>
				<input name="revealDeleteButton" type="button" 
					onclick="
						document.getElementById('deleteItemSubmit').classList.remove('hidden');
						document.getElementById('revealDeleteButton').classList.add('hidden');
						" value="Delete">
			</div>
			<div id="deleteItemSubmit" class="hidden">
				<label for="confirmDeleteButton">Confirm delete?</label>
				<input  name="confirmDeleteButton" type="submit" value="confirm">
			</div>
		</form>
	</div>
			

</div>



<% include ./partials/footer %>