<% include ./partials/header %>
<div class="container">

	<% if(data.parent && typeof data.parent.label === 'string') { %>
	<button onclick="window.location='/items/<%= data.parent.label %>'"><%= data.parent.label %></button>
	<% } else { %>
	<button onclick="window.location='/items/'">Home</button>
	<% } %>

	<button onclick="window.location='/items/<%= data.label %>/summary'">Effort</button>
	<button onclick="window.location='/items/<%= data.label %>/children'">Children</button>

	<h5><%= data.label %></h5>

	<hr>


    <form action="/api/effort" method="post">
	<h5>Exert effort</h5>

			<label for="effort_note">Note</label>
      		<textarea
      			class="u-full-width"
      			id="effort_note" 
      			name="effort_note" 
      			placeholder="Put effort into ..." 
      			value=""></textarea>
		

	<div class="row">


    	<div class="four columns">
     		<label for="effort_hours">Hours</label>
    		<input 
    			type="number" 
				name="effort_hours" 
				placeholder="0" 
				value="" 
				id="hoursInput">
		</div>

		<div class="four columns">
      		<label for="effort_minutes">Minutes</label>
        	<input 
        		type="number" 
        		name="effort_minutes" 
        		placeholder="0" 
        		value="" 
        		id="minutesInput">
      	</div>

		<div class="four columns">
			<label for="effort_timestamp">Timestamp</label>
      		<input 
      			id="effort_timestamp" 
      			type="text" 
      			name="effort_timestamp" 
      			placeholder="yyyy-mm-ddThh:mm:ss.mmmZ" 
      			value="<%= 
      				new Date().getFullYear() + "-" + (new Date().getMonth()+1)+ "-" + new Date().getDate()
      			%>">
		</div>

		

      	<div class="row">
      		<div class="u-full-width">
        		<input type="submit">
        	</div>	
    	</div>

      	<!-- Hidden form inputs: item, user, time-->
      	<input type="hidden" name="effort_item" placeholder="enter an item" value="<%= data._id %>">

    	<input type="hidden" name="effort_user" placeholder="Your name please" value="<%= currentUser.username %>">
      
  		

    	</form>
	</div>
	
	<div class="row centered">
		<hr>
		<button onclick="window.location='/items/<%= data.label %>/edit'">Edit</button>
	</div>

<!--
	<div class="row">
		<form action="/api/items/<%= data._id %>/?_method=DELETE" method="post">

			<div id="revealDeleteButton">
				<label for="revealDeleteButton">Delete this item?</label>
				<input name="revealDeleteButton" type="button" 
					onclick="
						document.getElementById('deleteItemSubmit').classList.remove('hidden');
						document.getElementById('revealDeleteButton').classList.add('hidden');
						" value="Delete">
			</div>
			<div id="deleteItemSubmit" class="hidden">
				<label for="confirmDeleteButton">Confirm delete?</label>
				<input  name="confirmDeleteButton" type="submit" value="confirm">
			</div>
		</form>
	</div>
	-->		

</div>



<% include ./partials/footer %>