<% include ./partials/header %>
<div class="container">

	<button onclick="window.location='/items/<%= data.label %>/'">Back</button>


	<% if(data.parent && typeof data.parent.label === 'string') { %>
	<button onclick="window.location='/items/<%= data.parent.label %>/children'"><%= data.parent.label %></button>
	<% } else { %>
	<button onclick="window.location='/items/'">Home</button>
	<% } %>


	<h5><%= data.label %></h5>


	<div class="row">
		<div class="u-full-width">
		<% include ./partials/newitemform2 %>
		</div>
	</div>


	<div class="row">
		<h1>Children</h1>
		



		<div class="data">
			<table id="itemsTable">
				<thead>
					<tr>
						<th onclick="sortTable('itemsTable',0,'true');">Child</th>
						<th onclick="sortTable('itemsTable',1,'true');">Relevance</th>
					</tr>
				</thead>
				<tbody>
			 		<% for(var i = 0; i < data.childs.length; i++) { %>
				 		
			  			<tr>
			  				<td 
			  					style="width:50%"
			  					onclick="window.location='/items/<%= data.childs[i].label %>/children'">
			  					<%= data.childs[i].label %>
		  					</td>
							<td 
								style="width:25%"">
								<%= //data.childs[i].relevancy.value %>
								<% relevancy = data.childs[i].relevancy %>
								<% include ./partials/relevancyslider %>
							</td>
						</tr>
						
					<% } %>
				</tbody>
			</table>
		</div>
	</div>

</div>



<% include ./partials/footer %>