<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
				<h2><%= currentUser.username %></h2>
				<p1>My categories:</br><%= categories %></p>
				<p1>My items:</br><%= items %></p>
				<p1>My efforts:</br><%= efforts %></p>
				<p1>My relevancies:</br><%= relevancies %></p>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>